// 茶色: #AF7A20; 緑:#4B7031

$basecolor_green: #4b7031;
$basecolor_brown: #af7a20;

.search {
  width: 1000px;
  background-color: #fffcf4;
  &_title {
    margin-bottom: 5%;
  }
  &_box {
    width: 90%;
    margin: 2%;
  }
  &_no{
    margin: auto;
  }
  &_btn {
    &:hover {
      background-color: #ffff;
      color: $basecolor_green;
      outline: 1px solid $basecolor_green;
    }
  }
  &_list {
    display: flex;
  }
  &_recinfo{
    text-align: center;
  }
  &_iconImg {
    width: 200px;
    height: 200px;
  }
}
