.RecruitIslandRegister{
    // min-height: 100vh;
    // z-index: 1;
    margin: 0% auto 0 auto;
    background-color: #FFFCF4;
    height: 100vh;
    padding-top: 10%;
    // display: block;
    // position: relative;
    // height: 100%;
    // width: inherit;
    // z-index: -1;
    &-title{
        font-size: 30px;
        text-align: center;
        padding: 1%;

    }
    &-details{
        // display: flex;
        // justify-content: center;
        // flex-direction:column;
        text-align: center;
        &-name{
            font-size: 20px;
            padding: 2%;
        }
        &-recruitTitleSet{
            width: 100%;
            padding: 2%;
            // &-title{
            // }
            &-input{
            width: 50%;  
            }
        }
        &-jobSet{
            &-job{
            padding: 2%;                
            }
        }
        &-infomationSet{
            &-infomation{
            padding: 2%;   
            }
            &-text{
            width: 50%;
            height: 200px;
            margin-top: -2%;
            }
        }

}
    &-button{
        margin-top: 10%;
        padding: 1.5%;
        width: 150px;
        margin-bottom: 5%;
    }

}
