// 茶色: #AF7A20; 緑:#4B7031

$basecolor_green:#4B7031;
$basecolor_brown:#AF7A20;

.serch {
  width: 1000px;
  &_title{
    margin-bottom: 5%;
  }
  &_box {
    width: 90%;
    margin: 2%;
  }
  &_btn {
    background-color: $basecolor_brown;
  }
  &_list {
    display: flex;
  }
  &_iconImg {
    width: 200px;
    height: 200px;
  }
}

  
  