.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px double #4b7031;
  background-color: #fffcf4;
  opacity: 0.9;
  &-logo {
    width: 10%;
    height: 10%;
  }
}

// .kotei{
//   position: fixed;
// }
