@charset "UTF-8";
.icon {
  width: 170px;
  height: 170px;
  border: 2px solid;
  border-color: green;
  border-radius: 50%;
}

.material-symbols-rounded {
  color: white;
}
.material-symbols-rounded:hover {
  transform: scale(1.1);
}

.detail {
  width: 100%;
  margin: 0;
}
.detail__image__header {
  position: relative;
  background-color: beige;
  height: 250px;
  width: 100%;
}
.detail__image__icon {
  position: absolute;
  top: 230px;
  left: 50px;
}
.detail__image__icon__text {
  margin-top: 10px;
  text-align: center;
}
.detail__image__setting {
  position: absolute;
  top: 100px;
  right: 30px;
}
.detail__btn {
  text-align: center;
  margin-top: 50px;
}
.detail__btn__content {
  padding: 10px 30px;
}
.detail__desc {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 2px solid green;
}
.detail__member {
  position: absolute;
  top: 350px;
  right: 0;
  width: 23%;
  border: 2px solid green;
}
.detail__scout {
  position: absolute;
  top: 500px;
  left: 0;
  width: 23%;
  border: 2px solid green;
}

.member__title {
  text-align: center;
  margin: 5px;
}
.member__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.member__content__icon {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: green;
  border-radius: 50%;
}
.member__content__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member__content__btn__yes {
  padding: 2px 5px;
  height: 25px;
  cursor: pointer;
}
.member__content__btn__yes:hover {
  background-color: white;
  color: #4b7031;
  outline: 1px solid #4b7031;
}
.member__content__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member__btn {
  text-align: center;
  margin: 20px 0 10px;
}
.member__btn__scout {
  background-color: skyblue;
  cursor: pointer;
}
.member__btn__scout:hover {
  background-color: white;
  color: skyblue;
  outline: 1px solid skyblue;
}

.scout__title {
  text-align: center;
  margin: 5px;
}
.scout__content {
  display: flex;
  justify-content: space-around;
}
.scout__content__icon {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: green;
  border-radius: 50%;
}
.scout__content__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scout__btn {
  margin: 5px 0 20px;
  display: flex;
  justify-content: center;
}
.scout__btn__yes {
  padding: 5px 10px;
  cursor: pointer;
}
.scout__btn__yes:hover {
  background-color: white;
  color: #4b7031;
  outline: 1px solid #4b7031;
}
.scout__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined.no {
  color: red;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined.no:hover {
  transform: scale(1.05);
}

.btn {
  padding: 10px 30px;
}

.mypage {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 200px;
}
.mypage__list {
  display: flex;
}
.mypage__profileiconImg {
  width: 200px;
  height: 200px;
  width: 170px;
  height: 170px;
  border: 2px solid;
  border-color: green;
  border-radius: 50%;
  margin-bottom: 40px;
}
.mypage__profileiconImg:hover {
  cursor: pointer;
}
.mypage__item {
  padding: 0 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.mypage__item_name {
  padding: 0 20px;
  margin-bottom: 10px;
  padding-bottom: 40px;
}
.mypage__button {
  padding: 1% 2%;
  margin-left: auto;
  margin-right: 50px;
  width: 200px;
}
.mypage__button:hover {
  cursor: pointer;
  background-color: white;
  color: #4B7031;
  outline: 1px solid #4B7031;
}
.mypage__morebutton {
  padding: 1% 2%;
  margin-left: 60px;
}
.mypage__morebutton:hover {
  cursor: pointer;
  background-color: white;
  color: #4B7031;
  outline: 1px solid #4B7031;
}
.mypage__container {
  margin-top: 30px;
}
.mypage__column {
  width: 30%;
  float: left;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 350px;
}
.mypage__column2 {
  width: 65%;
  height: 350px;
  padding: 20px;
  float: left;
}
.mypage__lists {
  display: inline-block;
}
.mypage__space {
  margin: 5%;
  position: relative;
}
.mypage__iconImg {
  width: 150px;
  height: 150px;
}
.mypage__iconImg:hover {
  cursor: pointer;
}
.mypage__table {
  margin-top: 60px;
  margin-left: 4%;
}

.edit__input {
  float: left;
  width: 450px;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}
.edit__textarea {
  float: left;
  width: 600px;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}
.edit__column {
  width: 30%;
  float: left;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.edit__column2 {
  width: 65%;
  height: 300px;
  padding: 20px;
  float: left;
  display: flex;
  align-items: center;
}
.edit__item {
  margin: auto;
}
.edit__button {
  padding: 1% 2%;
  margin: auto;
  width: 100px;
}
.edit__button:hover {
  cursor: pointer;
}
.edit__button:hover :hover {
  cursor: pointer;
  background-color: white;
  color: #4B7031;
  outline: 1px solid #4B7031;
}
.edit__button_cansel {
  padding: 1% 2%;
  margin: auto;
  width: 100px;
  background-color: rgb(167, 167, 167);
}
.edit__button_cansel:hover {
  cursor: pointer;
}
.edit__buttoncontainer {
  display: flex;
  width: 400px;
  margin: auto;
  margin-top: 40px;
}
.edit__label {
  margin: 8px;
}

*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url(../../../public/astumoriIsland.png);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #FFFCF4;
  color: black;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

img,
video,
object {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: black;
}

a:hover {
  text-decoration: none;
}

p {
  display: block;
}

h1 {
  font-size: 20px;
  margin: 5px;
}

input,
textarea {
  padding: 5px;
}

li {
  list-style: none;
}

button {
  background-color: #4b7031;
  color: white;
  border-radius: 10%;
  border: none;
  padding: 5% 10%;
  font-weight: bold;
}

.request {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.request__container {
  margin-top: 50px;
}
.request__title {
  font-size: 30px;
}
.request__detail {
  width: 80%;
  padding-bottom: 30px;
  margin: auto;
}
.request__input {
  width: 450px;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}
.request__item {
  margin: 10px;
}
.request__agree {
  margin-top: 30px;
}
.request__button {
  padding: 1% 2%;
  margin-top: 30px;
  width: 100px;
  background-color: #4B7031;
}
.request__button:hover {
  cursor: pointer;
  background-color: white;
  color: #4B7031;
  outline: 1px solid #4B7031;
}
.request__disabled {
  opacity: 0.5;
  pointer-events: none;
}

.list {
  background-color: #fffcf4;
  height: 100%;
  padding: 3%;
  height: 100vh;
}
.list__title {
  color: #af7a20;
  font-size: 2.5rem;
}
.list__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  margin-top: 5%;
  text-align: center;
  width: 100%;
  height: auto;
}
.list__item {
  width: 15.2%;
  aspect-ratio: 1/1;
}
.list__item:nth-child(n+6) {
  margin-top: 8%;
}
.list__iconImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
}
.list__iconImg:hover {
  opacity: 0.6;
  cursor: pointer;
}
.list__name {
  margin: 3% 0 7% 0;
}
.list__name:hover {
  opacity: 0.6;
  cursor: pointer;
}
.list__button {
  background-color: #a9a9a9;
  cursor: pointer;
}
.list__button:hover {
  background: white;
  color: #a9a9a9;
  outline: 1px solid #a9a9a9;
  cursor: pointer;
}

.scout__buttons {
  display: flex;
  gap: 5%;
  justify-content: center;
}
.scout__buttons-deleteButton {
  background-color: #a9a9a9;
}
.scout__buttons-approveButton:hover {
  background-color: white;
  color: #4B7031;
  outline: 1px solid #4B7031;
}
.scout__buttons-deleteButton:hover {
  background-color: white;
  color: #a9a9a9;
  outline: 1px solid #a9a9a9;
}

.search {
  width: 1000px;
  background-color: #fffcf4;
}
.search_title {
  margin-bottom: 5%;
}
.search_box {
  width: 90%;
  margin: 2%;
}
.search_no {
  margin: auto;
}
.search_btn:hover {
  background-color: white;
  color: #4b7031;
  outline: 1px solid #4b7031;
}
.search_list {
  display: flex;
}
.search_recinfo {
  text-align: center;
}
.search_iconImg {
  width: 200px;
  height: 200px;
}

.chat {
  background-color: #FFFCF4;
  overflow-y: hidden;
}
.chat__header {
  display: flex;
  align-items: center;
  gap: 2%;
  border-bottom: 1px dashed #deb887;
  padding: 1%;
}
.chat__icon {
  width: 4%;
  height: 4%;
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.chat__name {
  font-weight: bold;
}
.chat__messageWrapper {
  overflow: scroll;
  height: 448px;
  padding: 1%;
}
.chat__messageWrapper-myMessage {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 10px 10px auto;
  width: 40%;
}
.chat__messageWrapper-myMessage-userName {
  font-size: 1.3rem;
  text-align: right;
  padding-right: 5%;
  color: #DE822B;
}
.chat__messageWrapper-otherMessage {
  margin: 10px auto 10px 10px;
  width: 40%;
  display: flex;
}
.chat__messageWrapper-otherMessage-userName {
  font-size: 1.3rem;
  padding-left: 5%;
  color: #DE822B;
}
.chat__messageWrapper-userIcon {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.chat__messageWrapper-myComment {
  background-color: #FDCD07;
  color: #847154;
  position: relative;
  display: inline-block;
  margin: 0 15px 1.5em 0;
  padding: 7px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
.chat__messageWrapper-myComment-text {
  margin: 0;
  padding: 0;
}
.chat__messageWrapper-myComment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7px;
  border: 7px solid transparent;
  border-left: 7px solid #FDCD07;
}
.chat__messageWrapper-otherComment {
  background-color: #FCEB9C;
  color: #847154;
  position: relative;
  display: inline-block;
  margin: 0 0 1.5em 15px;
  padding: 7px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
.chat__messageWrapper-otherComment-text {
  margin: 0;
  padding: 0;
}
.chat__messageWrapper-otherComment:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  border: 7px solid transparent;
  border-right: 7px solid #FCEB9C;
}
.chat__textarea {
  resize: none;
  width: 100%;
  background-color: #FFFCF4;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.chat__textarea:focus {
  outline: none;
}
.chat__submitBtn {
  width: 50px;
  height: 30px;
  padding: 0;
  margin-left: 94%;
  cursor: pointer;
}

.loginPage-logo {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
.loginPage-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -40px;
}
.loginPage-email {
  padding: 10px;
  width: 35%;
}
.loginPage-password {
  padding: 10px;
  width: 35%;
  margin: 3%;
}
.loginPage-button {
  width: 15%;
  padding: 1%;
  margin-top: 3%;
}
.loginPage-register {
  color: #AF7A20;
}
.loginPage-register-margin {
  margin-top: 2%;
}

.userRegister-body {
  margin: 0 auto;
  margin-top: 1%;
}
.userRegister-title {
  font-size: 40px;
  margin-left: 20%;
}
.userRegister-details {
  display: flex;
  justify-content: center;
}
.userRegister-details-icon {
  margin-top: 5%;
  width: 20%;
  height: 20%;
}
.userRegister-details-icon-imgdiv {
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.userRegister-details-icon-img {
  padding: 20px;
}
.userRegister-details-detail {
  margin-top: 5%;
  margin-left: 5%;
}
.userRegister-details-detail-name {
  width: 70%;
  margin-bottom: 4%;
}
.userRegister-details-detail-hitokoto {
  margin-top: 4%;
}
.userRegister-details-detail-hitokoto-text {
  width: 100%;
  height: 100%;
}
.userRegister-details2 {
  text-align: center;
  margin-top: 3%;
}
.userRegister-details2-inputSet {
  display: flex;
  gap: 1%;
  width: 100%;
  justify-content: center;
  margin: 2%;
}
.userRegister-details2-p {
  width: 120px;
}
.userRegister-details2-input {
  width: 400px;
}
.userRegister-details2-button {
  margin-top: 4%;
  padding: 1.5%;
  width: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px double #4b7031;
  background-color: #fffcf4;
  opacity: 0.9;
}
.header-logo {
  width: 10%;
  height: 10%;
}
.IslandRegister {
  margin: 10% auto 0 auto;
}
.IslandRegister-title {
  font-size: 40px;
  margin-left: 10%;
}
.IslandRegister-details {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.IslandRegister-details-icon {
  margin-top: 5%;
  width: 30%;
  height: 30%;
}
.IslandRegister-details-icon-imgdiv {
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}
.IslandRegister-details-icon-img {
  padding: 20px;
}
.IslandRegister-details-name {
  margin-top: 3%;
  width: 100%;
  text-align: left;
}
.IslandRegister-details-name-input {
  padding: 2%;
  width: 100%;
}
.IslandRegister-details-information {
  width: 50%;
}
.IslandRegister-details-information-title {
  text-align: left;
}
.IslandRegister-details-information-text {
  width: 100%;
  height: 90%;
}
.IslandRegister-set {
  text-align: center;
}
.IslandRegister-set-button {
  margin-top: 8%;
  padding: 1.5%;
  width: 150px;
}

.ProjectRegister {
  margin: 5% auto 0 auto;
}
.ProjectRegister-title {
  font-size: 40px;
  margin-left: 10%;
}
.ProjectRegister-details {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 2%;
}
.ProjectRegister-details-icon {
  margin-top: 5%;
  width: 30%;
  height: 30%;
}
.ProjectRegister-details-icon-imgdiv {
  border-radius: 50%;
  border: 1px solid lightgray;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}
.ProjectRegister-details-icon-img {
  padding: 20px;
}
.ProjectRegister-details-name {
  margin-top: 3%;
  width: 100%;
  text-align: left;
}
.ProjectRegister-details-name-input {
  padding: 2%;
  width: 100%;
}
.ProjectRegister-details-information {
  width: 50%;
}
.ProjectRegister-details-information-title {
  text-align: left;
}
.ProjectRegister-details-information-text {
  width: 100%;
  height: 90%;
}
.ProjectRegister-set {
  text-align: center;
}
.ProjectRegister-set-button {
  margin-top: 8%;
  padding: 1.5%;
  width: 150px;
}

.loader {
  color: #22EBE8;
  font-size: 20px;
  margin: 200px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}/*# sourceMappingURL=main.css.map */