.mypage {
  width: 1000px;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
  }
  &__profileiconImg {
    width: 200px;
    height: 200px;
    width: 170px;
    height: 170px;
    border: 2px solid;
    border-color: green;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  &__profileiconImg:hover {
    cursor: pointer;

  }
  &__item {
    padding: 0 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  &__item_name {
    padding: 0 20px;
    margin-bottom: 10px;
    padding-bottom: 40px;
  }
  &__button {
    padding: 1% 2%;
    margin-left: auto;
    margin-right: 50px;
    width: 200px;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4B7031;
    outline: 1px solid #4B7031;
  }
  &__morebutton {
    padding: 1% 2%;
    margin-left: 60px;
  }
  &__morebutton:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4B7031;
    outline: 1px solid #4B7031;
  }

  // &__div {
  //   margin: 30px 0;
  // }
  &__container {
    margin-top: 30px;
  }
  &__column {
    width: 30%;
    // padding: 20px;
    float: left;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 350px;

  }
  &__column2 {
    width: 65%;
    height: 400px;
    padding: 20px;
    float: left;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // align-items: center;
  }
  &__lists {
    display: inline-block;
  }
  &__list {
  }
  &__space {
    margin: 5%;
    position: relative;
  }
  &__iconImg {
    width: 150px;
    height: 150px;
  }
  &__iconImg:hover {
    cursor: pointer;
  }
  &__project {
    margin-top: 60px;
  }
}

.edit {
  &__input{
    float: left;
    width: 450px;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
  }
  &__textarea {
    float: left;
    width: 600px;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
  }
  &__column {
    width: 30%;
    float: left;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  &__column2 {
    width: 65%;
    height: 300px;
    padding: 20px;
    float: left;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: auto;
  }
  &__button {
    padding: 1% 2%;
    margin: auto;
    width: 100px;
  }
  &__button:hover {
    cursor: pointer;
    :hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4B7031;
    outline: 1px solid #4B7031;
  }
  }
  &__button_cansel {
    padding: 1% 2%;
    margin: auto;
    width: 100px;
    background-color: rgb(167, 167, 167);
  }
  &__button_cansel:hover {
    cursor: pointer;
  }
  &__buttoncontainer {
    display: flex;
    width: 400px;
    margin:auto;
    margin-top:40px;
  }
  &__label {
    margin: 8px;
  }
}
