.mypage {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #fffcf4;
  padding-top: 15px;
  padding-bottom: 40px;

  &__list {
    display: flex;
  }
  &__profileiconImg {
    width: 170px;
    height: 170px;
    border: 2px solid;
    border-color: green;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  &__profileiconImg:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &__item {
    padding: 0 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  &__item_name {
    padding: 0 20px;
    margin-bottom: 10px;
    padding-bottom: 40px;
  }
  &__button {
    padding: 1% 2%;
    margin-left: auto;
    margin-right: 50px;
    width: 200px;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4b7031;
    outline: 1px solid #4b7031;
  }
  &__cansel_button {
    padding: 1% 2%;
    margin-left: auto;
    margin-right: 50px;
    width: 200px;
    background-color: #703131;
  }
  &__cansel_button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #703131;
    outline: 1px solid #703131;
  }
  &__editbutton {
    padding: 1% 2%;
    margin-left: auto;
    width: 200px;
  }
  &__editbutton:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4b7031;
    outline: 1px solid #4b7031;
  }
  &__NOisland{
    margin: 30px 0;
  }
  &__morebutton {
    padding: 1% 2%;
    margin-left: auto;
    position: absolute;
    right: 35px;
    bottom: 100px;
  }
  
  &__morebutton:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4b7031;
    outline: 1px solid #4b7031;
  }
  

  // &__div {
  //   margin: 30px 0;
  // }
  &__container {
    // display: grid;
    // grid-template-columns: 40% 50%;
    margin-top: 30px;
    column-gap: 5%;
    display: flex;
  }
  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding-left: 100px;
    padding-left: 100px;
    height: 250px;
  }
  &__column2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 250px;
    width: 600px;
    padding: 20px;
    padding-top: 50px;
    margin-right: auto;
    flex-grow: 1;
  }
  &__lists {
    display: inline-block;
  }
  &__list {
  }
  &__space {
    margin: 5%;
    position: relative;
  }
  &__iconImg {
    width: 200px;
    height: 200px;
  }
  &__iconImg:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &__table {
    margin-top: 60px;
    margin-left: 4%;
    position: relative;
  }
}

.edit {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #fffcf4;
  padding-top: 100px;
  padding-bottom: 40px;

  &__container {
    // display: grid;
    grid-template-columns: 50% 40%;
    margin-top: 30px;
    column-gap: 10%;
    display: flex;
  }
  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    height: 500px;
  }
  &__column2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 500px;
    padding: 20px;
    padding-top: 50px;
    margin-right: auto;
    flex-grow: 1;
  }
  &__input {
    float: left;
    width: 450px;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
    margin-bottom: 40px;
  }
  &__textarea {
    float: left;
    width: 600px;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
  }
  &__column {
    width: 30%;
    float: left;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  &__column2 {
    width: 65%;
    height: 300px;
    padding: 20px;
    float: left;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: auto;
  }
  &__button {
    padding: 1% 2%;
    margin: auto;
    width: 100px;
  }
  &__button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #4b7031;
    outline: 1px solid #4b7031;
  }
  &__button_cansel {
    padding: 1% 2%;
    margin: auto;
    width: 100px;
    background-color: rgb(167, 167, 167);
  }
  &__button_cansel:hover {
    cursor: pointer;
    background-color: #ffff;
    color: rgb(167, 167, 167);
    outline: 1px solid rgb(167, 167, 167);
  }
  &__buttoncontainer {
    display: flex;
    width: 400px;
    margin: auto;
    margin-top: 100px;
  }
  &__label {
    margin: 8px;
  }
}
