.chat {
  background-color: #FFFCF4;
  // opacity: .9;
  overflow-y: hidden;
  // height: 100vh;
  &__header {
    display: flex;
    align-items: center;
    gap: 2%;
    border-bottom: 1px dashed #deb887;
    padding: 1%;
  }
  &__icon {
    width: 4%;
    height: 4%;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: #ffff;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  &__name {
    font-weight: bold;
    color: #AF7A20;
  }
  &__messageWrapper {
    overflow-y: scroll;
    height: 434px;
    // height: 70%;
    padding: 1%;
    &-noDataTitle {
      text-align: center;
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 10%;
      // color: #deb887;
      color: #AF7A20;
    }
    &-loadMore {
      width: 11%;
      height: auto;
      margin: 0 auto;
    }
    &-loadMoreBtn {
      width: 100%;
      height: auto;
      // background-color: #4B7031;
      background: transparent;
      color: #4B7031;
      // opacity: 0.8;
      padding: 0;
      border-radius: 10px;
      font-size: 1.1rem;
      cursor: pointer;
    }
    &-myMessage {
      display: flex;
      flex-direction: row-reverse;
      margin: 10px 10px 25px auto;
      // width: 40%;
      width: 55%;
      &-userName {
        font-size: 1.3rem;
        text-align: right;
        padding-right: 5%;
        color: #DE822B;
      }
      &-comDate {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
      }
    }
    &-otherMessage {
      margin: 10px auto 25px 10px;
      // width: 40%;
      width: 55%;
      display: flex;
      &-userName {
        font-size: 1.3rem;
        padding-left: 5%;
        color: #DE822B;
      }
      &-comDate {
        display: flex;
        align-items: end;
      }
    }
    &-userIcon {
      width: 7%;
      height: 7%;
      &-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid lightgray;
        background-color: #ffff;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }
    &-message {
      width:90%;
    }
    &-myComment {
      background-color: #FDCD07;
      // opacity: .7;
      color: #847154;
      position: relative;
      display: inline-block;
      margin: 0 15px 0 5px;
      padding: 7px 10px;
      width: fit-content;
      border-radius: 8px;
      &-text {
        margin: 0;
        padding: 0;
      }
    }
    &-myComment:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -7px;
      border: 7px solid transparent;
      border-left: 7px solid #FDCD07;
    }
    &-otherComment {
      background-color: #FCEB9C;
      color: #847154;
      position: relative;
      display: inline-block;
      margin: 0 5px 0 15px;
      padding: 7px 10px;
      width: fit-content;
      border-radius: 8px;
      &-text {
        margin: 0;
        padding: 0;
      }
    }
    &-otherComment:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -7px;
      border: 7px solid transparent;
      border-right: 7px solid #FCEB9C;
    }
  }
  &__textarea {
  resize: none;
  width: 100%;
  background-color: #FFFCF4;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-top: 1px dashed #deb887;
  color: #847154;
  font-size: 1.6rem;
  }
  &__textarea:focus {
    outline: none;
  }
  &__textarea::placeholder {
    color: #847154;
    opacity: .7;
  }
  &__submitBtn {
    width: 50px;
    height: 30px;
    padding: 0;
    margin-left: 94%;
    margin-bottom: 1%;
    cursor: pointer;
  }
}
