.time {
  font-size: 1.2rem;
  color: gray;
}
.date {
  font-size: 1.3rem;
  color: #847154;
  text-align: center;
  // background-color: #deb887;
  border-radius: 15px;
  width: 15%;
  margin: 5% auto;
  border: 1px solid;
}
